#main {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  background-color: #eeeeee;
}

#workspace {
  flex: 1 1 300px;
  display: flex;
  background-color: #d5d8de;
  overflow: hidden;
}

#translation-list {
  flex: 1 1 100px;
  overflow-y: auto;
}
