

.nav-translation-key-list {
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.nav-translation-key {
  display: block;
  margin-left: 0;
  font-size: 10pt;
}

.nav-translation-key:nth-child(2n) a {
  background-color: #eff2f5;
}

.nav-translation-key a {
  display: flex;
  padding: 5px;
  color: inherit;
  text-decoration: none;
  min-width: 0;
  align-items: center;
}

.nav-translation-key span {
  margin-left: 5px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-translation-key a:hover,
.nav-translation-key a:focus,
.nav-translation-key a:active {
  background-color: white;
}

.nav-translation-key i {
}
