#navigation-bar {
  display: flex;
  flex-direction: column;
  width: 260px;
  background-color: #e6eaef;
  border-right: 1px solid #777777;
}

.search-bar {
  flex: 0 0 39px;
  display: flex;
  background-color: lightgrey;
  border-bottom: 1px solid grey;
  position: relative;
}

.search-bar .fa-search {
  font-size: 9pt;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
}

.search-bar input {
  flex: 1;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid grey;
  padding-left: 24px;
}

.search-bar input:focus + .fa-search {
  color: black;
}
