.translation-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid black;
}

.translation {
  background-color: white;
  display: flex;
  align-items: top;
}

.translation:nth-child(2n),
.translation:nth-child(2n) textarea {
  background-color: #f2f6fb;
}

.translation-locale {
  width: 70px;
  text-align: right;
  padding-right: 10px;
  vertical-align: center;
  font-size: 9pt;
  font-weight: normal;
  line-height: 1.8;
  margin-top: 5px;
  font-family: monospace;
  color: #545454;
}

.translation textarea {
  flex: 1 0 100px;
  border-width: 0 0 0 1px;
  border-color: #e0e0e0;
  padding: 5px;
  min-height: 55px;
  font-family: inherit;
}
